:root {
    --primary-text-color: #212121;
    --site-text-color: #2196F3;
    --specific-text-color: #757575;
    --main-header-color: #fff;
    --primary-background-color: #2F303A;
    --second-background-color: #F5F4FA;
    --footer-color: rgba(100%, 100%, 100%, 60%);
    --feature-color: #F5F4FA;
    --border-color: #AFB1B8;
    --background-icon-color: rgba(255, 255, 255, 0.1);
    --second-border-color: #EEEEEE;
    --work-text-background-color: rgba(47, 48, 58, 0.8);
    --element-text-background-color: rgba(33, 150, 243, 0.9);
    --background-backdrop-color: rgba(0, 0, 0, 0.2);
    --header-border-color: #ECECEC;
    --transition-time: 250ms;
    --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --button-close-modal-color: rgba(0, 0, 0, 0.1);
    --placeholder-text-color: rgba(255, 255, 255, 0.6);
    --modal-placeholder-color: rgba(117, 117, 117, 0.5);
}
body {
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    background-color: var(--main-header-color);
}

.container {
    margin-left: auto;
    margin-right: auto;

    width: 1200px;

    padding-bottom: 94px;
    padding-top: 94px;
    padding-left: 15px;
    padding-right: 15px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/*Header*/

.logo,
.logo-footer {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    width: 145px;
    height: 31px;
    top: 24px;
    left: 215px;
    text-decoration: none;

    margin-right: 93px;
}

.web {
    color: var(--site-text-color);
}

.studio-nav {
    color: var(--primary-text-color)
}

.menu .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    text-decoration: none;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-contact {
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header-contact-link .link{
    color: var(--specific-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    text-decoration: none;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-contact-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icon {
    fill: currentColor;
    margin-right: 10px;
    vertical-align: middle;
}

.menu .link:hover,
.menu .link:focus,
.header-contact .link:hover,
.header-contact .link:focus {
    color: var(--site-text-color);
}

.site,
.menu,
.header-contact,
.container.nav {
    display: flex;
    align-items: center;
    padding: 0;
}

.header-container {
    border-bottom: 1px solid var(--header-border-color);
}

.menu li:not(:last-child),
.header-contact li:not(:last-child) {
    margin-right: 50px;
}

.link.menu--current {
    position: relative;
    color: var(--site-text-color);
}

.menu--current::after {
    content: " ";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--site-text-color);
    transition: color var(--transition-time) var(--transition-cubic);
}

/*Main container*/

.main-section {
    height: 600px;
    width: 1600px;
    margin: auto;

   background-image: linear-gradient(
    to right, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)
    ), url(../images/img.jpg);
    background-color: var(--primary-background-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
        
    text-align: center;
}

.main-title {
    margin-top: 0px;
    margin-bottom: 0px;
   
    color: var(--main-header-color);
    font-weight: 700;
    font-size: 44px;
    line-height: 1.36;

    padding-top: 200px;
    padding-bottom: 30px;
}

button {
    color: var(--main-header-color);
    background-color: var(--site-text-color);
    border: 0ch;
    border-radius: 4px;

    padding: 10px 32px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    cursor: pointer;     
}

/*Feature container*/

.feature > h2{
    display: none;
}

.feature-list {
    display: flex;
}

.container-svg {
    background-color: var(--feature-color);
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature-text {
    color: var(--specific-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03;
    margin-top: o;
}

.feature-list li:not(:last-child) {
    margin-right: 30px;
    flex-wrap: wrap;
}

/*Work container*/

.work.container h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 50px;
}

.work.container {
    padding-bottom: 94px;
    padding-top: 0;
}

.work-list {
    display: flex;
}

.work-list li:not(:last-child) {
    margin-right: 30px;
}

.item {
    position: relative;
}

.work-list-text {
    color: var(--main-header-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    background-color: var(--work-text-background-color);
    width: 370px;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    position:absolute;
    top: 210px;
}

/*Team container*/

.team-section {
    background-color: var(--second-background-color);
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
}

.team-list {
    display: flex;
}

.badge:not(:last-child) {
    margin-right: 30px;
}

.team-icon-list {
    display: flex;
    padding: 0;
    padding-bottom: 30px;
    margin: 0;
    justify-content: center;
    flex-wrap: nowrap;
}

.team-icon-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--border-color);
}

.team-icon-svg {
    fill: var(--border-color);
}

.team-icon-list li:not(:last-child) {
    margin-right: 10px;
}

.team-icon-link:hover .team-icon-svg,
.team-icon-link:focus .team-icon-svg {
    fill: var(--main-header-color);
}

.team-icon-link:hover,
.team-icon-link:focus{
    background-color: var(--site-text-color);
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    text-align:center;

    margin-bottom: 10px;
    margin-top: 30px;
}

.description {
    color: var(--specific-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
}

.badge {
    width: 270px;
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
    border-radius: 4px;
    background-color: var(--main-header-color);
}

/*clients*/

.clients-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.clients-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.clients-list li:not(:last-child) {
    margin-right: 30px;
}

.clients-list-item {
    width: 170px;
    height: 92px;
    border: 1px solid var(--border-color);
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.clients-svg {
    fill: var(--border-color);
}

.clients-list-item:hover .clients-svg,
.clients-list-item:focus .clients-svg {
    fill: var(--site-text-color)
}

.clients-list-item:hover,
.clients-list-item:focus{
    border-color: var(--site-text-color);
}

/*Footer*/

footer {
    background-color: var(--primary-background-color);
    display: flex;
}

.logo-footer {
    display: block;
    margin-bottom: 20px;
}

.studio,
address .address.link {
    color: var(--main-header-color);
    text-decoration: none;
}

.contact-footer > li {
    margin-bottom: 9px;
}

.contact-footer {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
        
    font-style: normal;
}

.footer.container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}

.mail.link,
.tel.link {
    color: var(--footer-color);
    text-decoration: none;
}

.address-item {
    margin-right: 70px;
}

.join h3 {
    font-weight: 700px;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--main-header-color);
    margin-bottom: 20px;
}

.join-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap
}

.join-list-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--background-icon-color);
    cursor: pointer;
}

.join-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.join-icon {
    fill: var(--main-header-color)
}

.join-list-item:hover,
.join-list-item:focus {
    background-color: var(--site-text-color)
}

.container-subscribe {
    margin-left: auto;
}

.title-subscribe {
    font-weight: 700px;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--main-header-color);
    margin-bottom: 20px;
}

.container-form input {
    width: 358px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;

    background-color: var(--primary-background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.container-form input::placeholder {
    color: var(--placeholder-text-color);
    font-weight: 400px;
    font-size: 16px;
    line-height: 1.25;
}

.btn-subscribe {
    
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon-subscribe {
    vertical-align: middle;
    margin-left: 10px;
}

/*Portfolio*/

/*Filter button*/

.filter.container {
    padding-bottom: 50px;
}

.button.portfolio {
    color: var(--primary-text-color);
    background-color: var(--second-background-color);
    font-weight: 700;
    font-size: 16px;
    padding: 6px 22px;
    display: inline-block;
}

.button:hover {
    color: var(--main-header-color);
    background-color: var(--site-text-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.filter-title {
    display: none;
}

.filter li:not(:last-child) {
    margin-right: 8px;
}

/*Project*/

.project.container {
    padding-top: 0px;
}

.project h2 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 4px;
    text-align: left;
    margin-left: 24px;
}

.specification {
    margin-bottom: auto;
    padding-bottom: 20px;
    text-align: left;

    color: var(--specific-text-color);
    margin-left: 24px;
}

.project-title {
    margin: 0;
    display: none;
}

.elements {
    margin-bottom: 30px;
    border: 1px solid var(--second-border-color);
    cursor: pointer;
    position: relative;
}

.elements:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.examples-link {
    height: 100%;
    text-decoration: none;
}

.elements-overlay {
    position: relative;
    overflow: hidden;
}

.text-container > p {
    padding-top: 10%;
    padding-right: 24px;
    padding-left: 24px;

    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
}

.text-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    margin: 0;
    color: var(--main-header-color);
    transform: translateY(100%);
    transition: transform var(--transition-time) var(--transition-cubic);
    background-color: var(--element-text-background-color);
}

.examples-card > h2 {
    color: var(--primary-text-color);
}

.examples-link:hover .text-container {
    transform: translateY(0);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
       
    /*width: calc(100% - 60px) / 3;*/
    justify-content: space-between;
}

/*.project-list :not(:nth-last-child(3n)) {
    margin-left: 30px;
}
попробовать позже разобраться вместо justify-content*/

/*Backdrop*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-backdrop-color);

    opacity: 1;
    transition: opacity var(--transition-time) var(--transition-cubic);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-time) var(--transition-cubic);

    min-width: 528px;
    min-height: 581px;
    background-color: var(--main-header-color);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    padding: 30px 40px 20px;
}

.btn-close {
    width: 30px;
    height: 30px;

    padding: 5px 4px 6px 4px;

    position: absolute;
    top: 8px;
    right: 8px;

    background-color: var(--background-icon-color);

    border-radius: 50%;
    border: 1px solid var(--button-close-modal-color);

    cursor: pointer;  
}

.modal-icon {
    display: flex;
    margin: auto;
}

.btn-close:hover .modal-icon,
.btn-close:focus .modal-icon {
    fill: var(--site-text-color);
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    color: var(--primary-text-color);

    text-align: center;
    margin: 0px 0px 30px;
}

.modal-form {
    width: 448px;
}

.container-filed {
    position: relative;
}

.container-filed:not(:nth-child(4)) {
    margin-bottom: 28px;
  }


.filed-text {
    position: absolute;
    top: 0;
    left: 0;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: var(--specific-text-color);

    transform: translateY(-18px);
}

.filed-icon {
    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 18px;

    transform: translateY(72%);
    margin-left: 15px;
}

.form-input {
    width: 100%;
    margin: 0;

    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
}

.form-input:focus{
    border: 1px solid var(--site-text-color);
}

.form-input:focus ~ .filed-icon {
    fill: var(--site-text-color);
}

.filed input {
    padding-left: 42px;
}

textarea {
    resize: none;
    width: 448px;
    height: 120px;
}

textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: var(--modal-placeholder-color);
}

.accept-text,
.accept-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--specific-text-color);
}

.accept-link {
    color: var(--element-text-background-color);
}

.accept-container {
    margin: 20px 0px 30px;
}

.accept-button-container {
    text-align: center;
}

.checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.accept-icon {
    width: 16px;
    height: 15px;  
    border: 3px solid var(--primary-text-color);
    border-radius: 3px;
    position: absolute;

    top: 77%;
    left: 45px;
}

.checkbox:checked + .accept-icon {
    background-image: url(../images/icon-check.svg);
    background-color: var(--site-text-color);
    background-size: contain;
    background-origin: border-box;
    border-color: transparent;
}