.project__container{
    padding-top: 0px;
}

.project__title {
    margin: 0;
    display: none;
}

.project__list {
    flex-wrap: wrap;
    margin-bottom: 0px;

    justify-content: space-between;
}

.elements {
    margin-bottom: 30px;
    border: 1px solid $second-border-color;
    cursor: pointer;
    position: relative;
}

.elements:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.examples__link {
    height: 100%;
    text-decoration: none;
}

.examples__link:hover .container-text {
    transform: translateY(0);
}

.elements__overlay {
    position: relative;
    overflow: hidden 
}

.container-text {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    margin: 0;
    color: $main-color;
    transform: translateY(100%);
    transition: transform $transition-time $transition-cubic;
    background-color: $element-text-background-color;
}

.element-text {
    padding-top: 10%;
    padding-right: 24px;
    padding-left: 24px;

    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
}

.examples__title {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 4px;
    text-align: left;
    margin-left: 24px;

    color: $primary-text-color;
}

.examples__specification {
    margin-bottom: auto;
    padding-bottom: 20px;
    text-align: left;

    color: $specific-text-color;
    margin-left: 24px;
}